<!-- Category -->
<div class="step_tab" id="wx_category">
    <div class="category_left">
        <ul>
            <li class="selected"><a href="javascript:">新品</a></li>
            <li ng-repeat="item in categorylist" ng-click="goCategory(item.category_id)">
                <a href="javascript:">{{item.category_name}}</a>
            </li>
        </ul>
    </div>
    <div class="category_right">
        <ul>
            <li ng-repeat="item in goodslist">
                <span class="cat_r_check" checked="checked"></span>
                <div class="cat_r_body">
                    <h4>{{item.goods_name}}</h4>
                    <span>&yen; {{item.goods_price}}</span>
                </div>
                <img ng-src="{{item.goods_img}}" alt="" class="cat_r_right">
            </li>
        </ul>
    </div>
</div>
