#wx_category {
    height: 100%;
    width: 100%;
}


/* 左边分类 */

#wx_category .category_left {
    float: left;
    width: 100px;
    height: 100%;
    overflow-x: scroll;
}

#wx_category .category_left ul {
    padding-bottom: 57px;
    border-right: 1px solid #e0e0e0;
    background-color: #f8f8f8;
    height: 100%;
}

#wx_category .category_left ul li {
    width: 100px;
    line-height: 40px;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    text-align: center;
    position: relative;
}

#wx_category .category_left ul li.selected {
    border-right: none;
    background-color: #fff;
    position: relative;
}

#wx_category .category_left ul li.selected::before {
    content: "";
    display: block;
    height: 40px;
    width: 1px;
    border-left: 3px solid #c00000;
    position: absolute;
}

/* #wx_category .category_left ul li span {
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: #ff4a00;
    color: #fff;
    font-size:10px;
    line-height: 20px;
    top: 0;
    right: 5px;
    position: absolute;
} */

#wx_category .category_left ul li a {
    display: block;
    color: #888;
    font-size: 13px;
    font-weight: bold;
}


/* 右边内容 */

#wx_category .category_right {
    height: 100%;
    overflow-x: scroll;
}

#wx_category .category_right ul li {
    padding: 10px 0;
    display: block;
    height: 82px;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    background-color: #fff;
}

#wx_category .category_right ul li .cat_r_body {
    padding-left: 50px;
}

#wx_category .category_right ul li .cat_r_check {
    position: absolute;
    height: 20px;
    width: 20px;
    background-image: url(../images/shop-icon.png);
    -webkit-background-size: 50px 100px;
    background-size: 50px 100px;
    background-position: 0 0;
    top: 30px;
    left: 10px;
}

#wx_category .category_right ul li .cat_r_check[checked] {
    background-position: -24px 0;
}

#wx_category .category_right ul li .cat_r_body h4 {
    font-weight: inherit;
    font-size: 16px;
    color: #999;
    line-height: 35px;
}

#wx_category .category_right ul li .cat_r_body span {
    display: block;
    color: #4da14d;
}

#wx_category .category_right ul li .cat_r_right {
    display: block;
    height: 70px;
    width: 70px;
    position: absolute;
    top: 2px;
    right: 1px;
}

#wx_category .category_right ul li .cat_r_change_box {
    display: block;
    height: 70px;
    width: 90px;
    position: absolute;
    top: 2px;
    right: 1px;
    color: #888;
    padding-top: 25px;
}

#wx_category .category_right ul li .cat_r_change_box .change_box_left,
#wx_category .category_right ul li .cat_r_change_box .change_box_right {
    display: block;
    float: left;
    border: 1px solid #e0e0e0;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    color: #ff4a00;
    font-size: 30px;
    text-align: center;
    line-height: 24px;
}

#wx_category .category_right ul li .cat_r_change_box .change_box_middle {
    display: block;
    float: left;
    height: 30px;
    width: 20px;
    text-align: center;
    line-height: 30px;
}

#wx_category .category_right ul li .cat_r_change_box .change_box_right {
    line-height: 30px;
}
