#wx_mine{

}

#wx_mine .wx_mine_header{
	margin-top: 0;
}

#wx_mine .wx_mine_header .wx_mine_header_item{
	height: 70px;
}


#wx_mine .wx_mine_header .wx_mine_header_item .weui-cell__hd img{
	display: block;
	height: 50px;
	width: 50px;
	border-radius: 25px;
	margin-right: 15px;
}