<div class="weui-tab" id="wx_mine_order">
    <div class="weui-navbar">
        <div class="weui-navbar__item weui-bar__item_on" ng-class="{'weui-bar__item_on':orderType=='All'}" ng-click="changeTab('All')">
            全部
        </div>
        <div class="weui-navbar__item" ng-class="{'weui-bar__item_on':orderType=='PrePay'}" ng-click="changeTab('PrePay')">
            待支付
        </div>
        <div class="weui-navbar__item" ng-class="{'weui-bar__item_on':orderType=='PreFinished'}" ng-click="changeTab('PreFinished')">
            待收货
        </div>
    </div>
    <div class="weui-tab__panel">
        <div ng-switch="orderType">
            <ul ng-switch-when="All">
                <li ng-repeat="item in orderListAll">
                    <a href="#/mine/main/order/detail/{{item.order_bas_id}}">
                        <div class="weui-panel weui-panel_access">
                            <div class="weui-panel__bd">
                                <div class="weui-media-box weui-media-box_text">
                                    <p class="weui-media-box__title">
                                        订单号：{{item.order_sn}}
                                    </p>
                                    <p class="weui-media-box__title">
                                        订单时间：{{item.create_time}}
                                    </p>
                                    <!-- <p class="weui-media-box__title">
                                    商品：方便面，火腿肠
                                </p> -->
                                    <p class="weui-media-box__title">
                                        总价：&yen;{{item.goods_amount}}
                                    </p>
                                </div>
                            </div>
                            <div class="weui-panel__ft">
                                <div class="weui-cell weui-cell_link">
                                    <span class="o_status">未支付</span>
                                    <a href="javascript:" ng-click="cancelOrder(item.order_bas_id)" class="o_del">取消订单</a>
                                    <a href="javascript:" class="o_edit">去支付</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <ul ng-switch-when="PrePay">
                <li ng-repeat="item in orderListPrePay">
                    <div class="weui-panel weui-panel_access">
                        <div class="weui-panel__bd">
                            <div class="weui-media-box weui-media-box_text">
                                <!-- <h4 class="weui-media-box__title">订单号：  &nbsp;&nbsp;&nbsp;&nbsp;18601681037</h4> -->
                                <p class="weui-media-box__title">
                                    订单号：{{item.order_sn}}
                                </p>
                                <p class="weui-media-box__title">
                                    订单时间：{{item.create_time}}
                                </p>
                                <!-- <p class="weui-media-box__title">
                                    商品：方便面，火腿肠
                                </p> -->
                                <p class="weui-media-box__title">
                                    总价：&yen;{{item.goods_amount}}
                                </p>
                            </div>
                        </div>
                        <div class="weui-panel__ft">
                            <div class="weui-cell weui-cell_link">
                                <span class="o_status">未支付</span>
                                <a href="javascript:" ng-click="cancelOrder(item.order_bas_id)" class="o_del">取消订单</a>
                                <a href="javascript:" class="o_edit">去支付</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul ng-switch-when="PreFinished">
                <li ng-repeat="item in orderListPreFinished">
                    <div class="weui-panel weui-panel_access">
                        <div class="weui-panel__bd">
                            <div class="weui-media-box weui-media-box_text">
                                <!-- <h4 class="weui-media-box__title">订单号：  &nbsp;&nbsp;&nbsp;&nbsp;18601681037</h4> -->
                                <p class="weui-media-box__title">
                                    订单号：{{item.order_sn}}
                                </p>
                                <p class="weui-media-box__title">
                                    订单时间：{{item.create_time}}
                                </p>
                                <!-- <p class="weui-media-box__title">
                                    商品：方便面，火腿肠
                                </p> -->
                                <p class="weui-media-box__title">
                                    总价：&yen;{{item.goods_amount}}
                                </p>
                            </div>
                        </div>
                        <div class="weui-panel__ft">
                            <div class="weui-cell weui-cell_link">
                                <span class="o_status">待收货</span>
                                <a href="javascript:" ng-click="confirmReceiving(item.order_bas_id)" class="o_edit">确认收货</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
